ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Element Selector */
p{
  color: red;
}

/* Class Selector */
.note{
font-size: 20px;
}

/* ID Selector */
#id-selector-demo{
  color: green;
}

/* Attribute Selector */
li[value="4"]{
  color:blue;
}

/* Universal Selector */
*{
  text-align: center;
}
/* Write your CSS below, don't change the rules above. */
